 <h1>caralibro </h1>
  <h2>ALL TAGS</h2>


  <% @all_tags.each do |tag| %>
  	 <h3><ul><li><a href="/link_tag/<%= tag.tag %>" method="get" name="tag" >#<%=tag.tag%></a></li></ul></h3>
  <% end %> 
  <p><a href="/"> HOME </a><p>
  <p><a href="/posts_settings"> POSTS </a><p>