  <h1>caralibro </h1>
  <p> create a post </p>
  <form action="/posts" method="post"> 
     <input type="text" name="title" placeholder="TITLE"><br>
     <input type="text" name="body" placeholder="TEXT"><br>
     <input type="text" name="tags" placeholder="TAGS"><br>
    <input type="submit" value="SUBMIT">
  </form>
  

  <form action="/posts_settings" method="post"> 
    <input type="submit" value="POSTS">
  </form>


  <form action="/tags_settings" method="post"> 
    <input type="submit" value="TAGS">
  </form>




  
