 <h1>caralibro </h1>

<p> search for a specific tag </p>
<form action="/search_tags" method="post"> 
<input type="text" name="search_tags" placeholder="Search Tags"><br>
<input type="submit" value="FIND">
</form> 

<form action="/all_tags" method="post"> 
<input type="submit" value="ALL TAGS">
</form>



<p><a href="/"> HOME </a><p>